{{!--

<!-- products/form.hbs: Hiển thị biểu mẫu để thêm hoặc cập nhật sản phẩm -->
<form action="/vendor/create_product" method="POST" enctype="multipart/form-data">
  {{#if message}}
  <div class="alert alert-{{ messageType }}" role="alert">{{ message }}</div>
  {{/if}}
  <div class="form-group">
    <label for="name">Product name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" {{#if viewOnly}}
      readonly{{/if}}>
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" class="form-control" id="price" name="price" value="{{ product.price }}">
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL:</label>
    <input type="file" id="profile_picture" name="profile_picture" /><br /><br />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" name="description">{{ product.description }}</textarea>
  </div>
  {{#if viewOnly}}
  <a href="/products/{{ product._id }}/edit" class="btn btn-primary">Edit product</a>
  {{else}}
  <button type="submit" class="btn btn-primary">Save</button>
  {{/if}}
</form> --}}



<main>
  <div class="container-fluid" style="padding: 0;">
    <div class="d-flex justify-content-center align-items-center" style="height: 15vh; background-color: #034266;">
      <div class="text-white text-center display-1">Add new product</div>
    </div>
  </div>

  <div class="container" style="display:block;">
    <div class="white-div align-items-center">
      <div class="row">
        <p>{{message}}</p>
        <div class="col">
          <h3>Product image</h3>
          <div class="">
            <img id="preview-image" src="/image/no-image.png" alt="Preview Image" style="max-width: 50%; height: auto;">
          </div>
          <form action="/vendor/create_product" method="POST" enctype="multipart/form-data">
            <div class="form-group m-2">
              <input type="file" class="form-control" id="input-image" name="profilePicture" placeholder="avatar">
            </div>
            <div class="form-group m-2">
              <h3>Product Name</h3>
              <input type="text" class="form-control" id="input-name" name="name" placeholder="" required>
            </div>
            <div class="form-group m-2">
              <h3>Product description</h3>
              <textarea type="text" class="form-control" id="" cols="30" rows="5" name="description"
                required></textarea>
            </div>

            <div class="row m-0">
              <div class="col-md-6">
                <input type="text" class="form-control" id="input-name" placeholder="price" name="price" required>
              </div>
              <div class="col-md-6 mb-4">
                <input type="text" class="form-control" id="input-name" placeholder="quantity" required>
              </div>
            </div>


            <div class="d-flex justify-content-center align-items-center">
              <button style="width:70%; background-color:#DE4F11; color: white;" type="submit"
                class="btn rounded-pill">NEXT</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    const imageInput = document.getElementById("input-image");
    const imagePreview = document.getElementById("preview-image");

    imageInput.addEventListener("change", function (event) {
      const file = event.target.files[0];

      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          imagePreview.src = e.target.result;
        };

        reader.readAsDataURL(file);
      } else {
        imagePreview.src = "#";
      }
    });
  </script>
  </script>
  <style>
    .white-div {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>



</main>