<main>
    <div class="container-fluid" style="padding: 0;">
        <div class="d-flex justify-content-center align-items-center" style="height: 15vh; background-color: #034266;">
            <div class="text-white text-center display-1">Order</div>
        </div>
    </div>
    <div style="background-color: #8D8C8C;">
        <input type="checkbox" id="check1" name="check1">
        <!-- <nav class="container nav1">
                <ul>
                    <li><a href="customer_page.html">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav> -->
        <!-- <label for="check1" class="checkbtn1">
                <i class="fa fa-bars"></i>
                <span class="category-text">CATEGORIES</span>
            </label> -->
    </div>
    <div class="container path">
        <a class="logo" href="/">
            <b>SIMPLE</b>
        </a>
        <a class="pathlast"  href="/">
            Product detail
        </a>
        <a class="pathlast"  href="/">
            Product detail
        </a>
    </div>
    <div class="container path">
        <p class="logo">
            Customer: {{data.nameUser}}
        </p>
        
    </div>
    <div class="container path">
        <p class="logo">
            Shipping address: {{data.addressShip}}
        </p>
    </div>
    <div class="container tbheader">
        <div class="header1">Product </div>
        <div>Unit Price</div>
        <div>Quantity</div>
        <div></div>
    </div>

   <table class="container cart">
    <tbody>
        {{#each data.cart}}
        <tr>
            <td class="imgproduct" id="productItem_{{this.id}}">
                <img id="productImage_{{this.id}}" src="" alt="Product Image">
                <span>{{this.name}}</span>
            </td>
            <td class="price">{{this.price}}$</td>
            <td class="quantity">
                <span>{{this.quantity}}</span>
            </td>
            <td class="btndel">
                <form>
                    <button class="remove-button"
                        onclick="removeProduct('{{../data._id}}', '{{this.id}}', {{this.price}}, {{this.quantity}})">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    function getProductDetails(productId) {
       
        fetch(`/products/getDetailsProductApi/${productId}`)
            .then(response => response.json())
            .then(data => {
                const contentType = data.product.contentType; 
                const imageBase64 = data.product.imageBase64; 

                const imgElement = document.getElementById(`productImage_${productId}`);
                imgElement.src = `data:${contentType};base64,${imageBase64}`; 
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

      document.addEventListener('DOMContentLoaded', () => {
        const cartItems = document.querySelectorAll('.container.cart .imgproduct');
        cartItems.forEach(item => {
            const productId = item.id.split('_')[1];

            getProductDetails(productId);
        });
    });
</script>

    <div class="container btncheckout">
        <div></div>
        <div class="checkout">
            <a href="/">Back</a>
        </div>
        <!-- <div class="back">
                <a href="#">Continue Shopping</a>
            </div> -->
    </div>
    <script>
        function removeProduct(orderId, productId, price, quantity) {
            const data = {
                orderId: orderId,
                productId: productId,
                price: price,
                quantity: quantity
            };

            fetch('/api/deleteCart', {
                method: 'Delete',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(result => {
                    console.log(result);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>

</main>