{{!-- <p>
    {{message}}
</p>
<h1>Orders</h1>
<ul>
    {{#each data}}
    <li>
        <h2>Order {{@index}}</h2>
        <p>Total: {{this.total}}</p>
        <p>Created at: {{this.createdAt}}</p>
        <p>Distribution hub: {{this.distributionHub}}</p>

        <ul>
            {{#each this.cart}}
            <li>
                <p>Product {{@index}}</p>
                <p>ID: {{this.id}}</p>
                <p>Price: {{this.price}}</p>
                <p>Count: {{this.count}}</p>
            </li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul> --}}

<main>
    <div style="background-color: #8D8C8C;">
        <input type="checkbox" id="check1" name="check1">
        <nav class="container nav1">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <label for="check1" class="checkbtn1">
            <i class="fa fa-bars"></i>
            <span class="category-text">CATEGORIES</span>
        </label>
    </div>
    <div class="container path">
        <a class="logo" href="customer_page.html">
            <b>SIMPLE</b>
        </a>
        <a class="pathlast" href="#">
            Shopping Cart
        </a>
    </div>

    <table class="container cart">
        <thead>
            <tr>
                <th class="header1">Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="imgproduct" data-id="product1">
                    <img src="image/daily7.webp" alt="product image">
                    <span>Guantes de Trabajo Palm Coated</span>
                </td>
                <td>$0.77</td>
                <td>
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </td>
                <td>$50</td>
                <td class="btndel"><button><i class="fa fa-trash"></i></button></td>
            </tr>
            <tr>
                <td class="imgproduct" data-id="product2">
                    <img src="image/daily6.webp" alt="product image">
                    <span>550 series I/P converter</span>
                </td>
                <td>$150.00</td>
                <td>
                    <button>-</button>
                    <span>2</span>
                    <button>+</button>
                </td>
                <td>$60</td>
                <td class="btndel"><button><i class="fa fa-trash"></i></button></td>
            </tr>
            <tr>
                <td class="imgproduct" data-id="product3">
                    <img src="image/daily10.webp" alt="product image">
                    <span>Best quality customized cup</span>
                </td>
                <td>$10.00</td>
                <td>
                    <button>-</button>
                    <span>3</span>
                    <button>+</button>
                </td>
                <td>$60</td>
                <td class="btndel"><button><i class="fa fa-trash"></i></button></td>
            </tr>
            <tr>
                <td class="imgproduct" data-id="product4">
                    <img src="image/daily9.webp" alt="product image">
                    <span>Automatic Open Gift Umbrella</span>
                </td>
                <td>$4.23</td>
                <td>
                    <button>-</button>
                    <span>3</span>
                    <button>+</button>
                </td>
                <td>$60</td>
                <td class="btndel"><button><i class="fa fa-trash"></i></button></td>
            </tr>
            <tr>
                <td class="imgproduct" data-id="product5">
                    <img src="image/daily4.webp" alt="product image">
                    <span>Hanging Basket Flower Pot</span>
                </td>
                <td>$1.91</td>
                <td>
                    <button>-</button>
                    <span>3</span>
                    <button>+</button>
                </td>
                <td>$60</td>
                <td class="btndel"><button><i class="fa fa-trash"></i></button></td>
            </tr>
            <tr class="voucher">
                <td> </td>
                <td> <img src="image/voucher.png" alt=""> <b>Platform Voucher</b></td>
                <td></td>
                <td></td>
                <td> <a href="#">Select or Enter code</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="final">
                <td colspan="4" class="FinalTotal"><strong>Total amount due for the order </strong></td>
                <td>$170</td>
                <td></td>
            </tr>
        </tfoot>

    </table>

    <div class="container btncheckout">
        <div></div>
        <div class="checkout">
            <a href="#">Check out</a>
        </div>
        <div class="back">
            <a href="#">Continue Shopping</a>
        </div>
    </div>

</main>